@{ 
    ViewData["Title"] = "List Menu";
}
<div class="container">
    <h1 class="text-center">Data List Menu</h1>
    <a asp-action="IncomeDataList" class="btn btn-outline-primary col">Income List</a>
    <a asp-action="ExpenseDataList" class="btn btn btn-outline-primary col">Expense List</a>
    <a asp-action="MileageDataList" class="btn btn-outline-primary col">Mileage List</a>
</div>